use clap::Parser;

/// {{ project_description }}
#[derive(Debug, Parser)]
#[command(version, about, styles = clap_cargo::style::CLAP_STYLING)]
pub struct Cli {
    /// Name to greet.
    #[arg(default_value = "World")]
    pub name: String,
}
